*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
section
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
}
header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #2A2E42;
    height: 66.5px;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul
{
    position: relative;
    display: flex;
}
header ul li 
{
    list-style: none;
}
header ul li a
{
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 400;
    font-family: sans-serif;
    line-height: 1.5;
    color: #fff;
    padding: 0.5rem 1rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    position: relative;
    display: flex;
}
.logo
{
    width: 150px;
    vertical-align: middle;
    margin-right: 1rem;
    text-decoration: none;
    color: #fff;
}